.services{
  background-image: var(--second-gradient);
  position: relative;
  padding-top: 150px;

}



.services_item{
  margin-bottom: 40px;
  position: relative;
}



.services_item:hover.services_item::before{
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.light-theme .services_item::before{
  color: var(--primary-color);
  background-color: gainsboro;
}

.services_subtitle{
  color: var(--text-color);
  font-size: var(--normal-font-size);
  font-weight: 700;
  margin-bottom: 50px;
  display: block;
}

.services_title{
  font-size: var(--h4-font-size);
  margin-bottom: 15px;
  color: var(--primary-color);
  transition: all .5s ease-in-out;

}

.services_description{
  min-height: 175px;
}

.swiper-pagination-bullet{
  background-color: var(--primary-color);
}


.control_btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
  position: absolute;
  top: 60px;
  right: 20%;
}

.control_btns div{
  padding: 10px;
  background-color: var(--title-color);
  border-radius: 50%;
  text-align: center;
  width:50px;
  cursor: pointer;
}

.control_btns div svg{
  color: var(--primary-color);
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
}

